<div class="logo-container">
    <a href="../../index.html" class="logo-link">
        <img class="logo" src="../images/foodsaverlogo.svg" alt="Food Saver Logo">
        <span class="logo-text">Food Saver</span>
    </a>
</div>

<button class="hamburger-menu" id="hamburger-toggle">
    <span></span>
    <span></span>
    <span></span>
</button>

<div class="main-nav">
    <a href="../../index.html" class="nav-link">Home</a>
    <a href="../../search/index.html" class="nav-link">Search</a>
    <a href="../../planner/index.html" class="nav-link">Meal Plan</a>
    <a href="../../cookbook/index.html" class="nav-link">Cook Book</a>
    <a href="../../pantry/index.html" class="nav-link">Pantry</a>
    <a href="../../shopping-list/index.html" class="nav-link">Shopping List</a>
    <a href="../../account/index.html" class="nav-link">Account</a>
</div>

<div class="mobile-menu" id="mobile-menu">
    <div class="mobile-menu-content">
        <nav class="mobile-nav">
            <a href="../../index.html" class="nav-link">Home</a>
            <a href="../../search/index.html" class="nav-link">Search</a>
            <a href="../../planner/index.html" class="nav-link">Meal Plan</a>
            <a href="../../cookbook/index.html" class="nav-link">Cook Book</a>
            <a href="../../pantry/index.html" class="nav-link">Pantry</a>
            <a href="../../shopping-list/index.html" class="nav-link">Shopping List</a>
            <a href="../../account/index.html" class="nav-link">Account</a>
        </nav>
    </div>
</div>