<div class="logo-container">
    <a href="../../index.html"><img class="logo" src="src/images/foodsaverlogo.svg" alt="food saver logo">Food Saver</a>
</div>
<div class="main-nav">
    <a href="../../search/index.html">Search</a>
    <a href="../../planner/index.html">Meal Plan</a>
    <a href="../../cookbook/index.html">Cook Book</a>
    <a href="../../pantry/index.html">Pantry</a>
    <a href="../../shopping-list/index.html">Shopping List</a>
    <a href="../../account/index.html">Account</a>
</div>